{% extends 'core/base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">Añadir Venta</h2>
    <form method="post" class="form-container add-venta-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.usuario.id_for_label }}">{{ form.usuario.label }}</label>
            {{ form.usuario|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.descripcion.id_for_label }}">{{ form.descripcion.label }}</label>
            {{ form.descripcion|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.cantidad.id_for_label }}">{{ form.cantidad.label }}</label>
            {{ form.cantidad|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.precio_unitario.id_for_label }}">{{ form.precio_unitario.label }}</label>
            {{ form.precio_unitario|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.pago_efectivo.id_for_label }}">{{ form.pago_efectivo.label }}</label>
            {{ form.pago_efectivo|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.pago_puntos.id_for_label }}">{{ form.pago_puntos.label }}</label>
            {{ form.pago_puntos|safe }}
        </div>
        <div class="form-group">
            <label for="{{ form.pago_tarjeta.id_for_label }}">{{ form.pago_tarjeta.label }}</label>
            {{ form.pago_tarjeta|safe }}
        </div>
        <div class="form-group">
            <p>Total a pagar: <span id="total-pagar">0.00</span></p>
            <p>Total restante: <span id="total-restante">0.00</span></p>
        </div>
        <button type="submit" class="btn btn-primary" disabled>Guardar</button>
        <a href="{% url 'lista_todas_ventas' %}" class="btn btn-secondary mt-3">Regresar</a>
    </form>
</div>
{% endblock %}
