{% extends 'core/base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Lista de Todos los Intercambios</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Monto</th>
                    <th>Usuario</th>
                    <th>Artículo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for intercambio in intercambios %}
                <tr>
                    <td>{{ intercambio.monto }}</td>
                    <td>{{ intercambio.usuario.username }}</td>
                    <td>{{ intercambio.articulo }}</td>
                    <td>{{ intercambio.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'nuevo_intercambio' %}" class="btn btn-primary mt-3">Nuevo Intercambio</a>
    <a href="{% url 'dashboard' %}" class="btn btn-link">Regresar al dashboard</a>
</div>
{% endblock %}
