<!-- core/templates/core/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'css/styles.css'%}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'products' %}">Productos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'exit' %}">Salir</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
