{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main class>
  <h2>Buy list</h2>
  <a href="{% url 'agregar_producto' %}" class="btn btn-primary">Nueva entrada</a> <br> <br>
<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#pokemon">Pokémon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#yu_gi_oh">Yu-Gi-Oh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#magic">Magic</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="pokemon">
            <div class="product-grid">
                {% for producto in productos_pokemon %}
                <div class="product-card">
                    <a href="{% url 'eliminar_producto' producto.id %}" class="delete-button" title="Eliminar producto">✖</a>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    <h4>{{ producto.nombre }}</h4>
                    <p>Precio: ${{ producto.precio }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="tab-pane fade" id="yu_gi_oh">
            <div class="product-grid">
                {% for producto in productos_yu_gi_oh %}
                <div class="product-card">
                    <a href="{% url 'eliminar_producto' producto.id %}" class="delete-button" title="Eliminar producto">✖</a>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    <h4>{{ producto.nombre }}</h4>
                    <p>Precio: ${{ producto.precio }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="tab-pane fade" id="magic">
            <div class="product-grid">
                {% for producto in productos_magic %}
                <div class="product-card">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    <a href="{% url 'eliminar_producto' producto.id %}" class="delete-button" title="Eliminar producto">✖</a>
                    <h4>{{ producto.nombre }}</h4>
                    <p>Precio: ${{ producto.precio }}</p>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</main>
{% endblock %}