{% extends 'core/base.html' %}

{% block content %} 

<h3>Inicio</h3>
<hr>
<div class="container">
    <div class="main-content">
        <!-- Aquí va el contenido principal de tu página -->
        <h4>
            {% if request.user.is_authenticated %}
                {{ user.username|upper }}, Bienvenido
                <br>
                Saldo: {{ saldo }}
                <br>
                Saldo de regalo: {{ saldo_regalo }}
                <br>
                <div class="container">
                    <div class="table-container">
                        <h2>Torneos</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Nombre de Torneo</th>
                                    <th>Entrada</th>
                                    <th>Premio</th>
                                    <th>Posición</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for torneo in torneos_usuario %}
                                    <tr>
                                        <td>{{ torneo.nombre }}</td>
                                        <td>{{ torneo.entrada }}</td>
                                        <td>{{ torneo.premio }}</td>
                                        <td>{{ torneo.posicion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="table-container">
                        <h2>Intercambios</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for intercambio in intercambios_usuario %}
                                    <tr>
                                        <td>{{ intercambio.articulo }}</td>
                                        <td>{{ intercambio.monto }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                Bienvenido, visitante
            {% endif %}
        </h4>
    </div>
    <div class="sidebar">
        <h3>Videos de YouTube</h3>
        <ul class="video-list">
            <!-- Aquí se generarán dinámicamente los videos -->
        </ul>
    </div>
</div>
{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
