{% extends 'core/base.html' %}
{% load static custom_filters %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>Información</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- Tabla de Torneos -->
        <div class="col-12 col-md-6">
            <div class="table-responsive">
                <h2>Torneos</h2>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre de Torneo</th>
                            <th>Entrada</th>
                            <th>Premio</th>
                            <th>Posición</th>
                            <th>Juego</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for torneo in torneos_usuario %}
                            <tr>
                                <td>{{ torneo.nombre }}</td>
                                <td>{{ torneo.entrada }}</td>
                                <td>{{ torneo.premio }}</td>
                                <td>{{ torneo.posicion }}</td>
                                <td>{{torneo.juego}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tabla de Intercambios -->
        <div class="col-12 col-md-6">
            <div class="table-responsive">
                <h2>Intercambios</h2>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Artículo</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intercambio in intercambios_usuario %}
                            <tr>
                                <td>{{ intercambio.articulo }}</td>
                                <td>{{ intercambio.monto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
