{% extends 'core/base.html' %}
{% load static custom_filters %}

{% block content %}
<h3>Información</h3>
<hr>
<div class="container">
    <div class="main-content">
        <div class="table-container">
            <h2>Torneos</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre de Torneo</th>
                        <th>Entrada</th>
                        <th>Premio</th>
                        <th>Posición</th>
                    </tr>
                </thead>
                <tbody>
                    {% for torneo in torneos_usuario %}
                        <tr>
                            <td>{{ torneo.nombre }}</td>
                            <td>{{ torneo.entrada }}</td>
                            <td>{{ torneo.premio }}</td>
                            <td>{{ torneo.posicion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-container">
            <h2>Intercambios</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Artículo</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for intercambio in intercambios_usuario %}
                        <tr>
                            <td>{{ intercambio.articulo }}</td>
                            <td>{{ intercambio.monto }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
