<!-- core/templates/core/users_list.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h2>Lista de Usuarios</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Correo electrónico</th>
                <th>Saldo</th>
                <th>Saldo regalo</th>
                <th>Código</th>
                <th>Puntos Pase PKM</th>
                <th>Puntos Pase Yu-Gi-Oh</th>
                <th>Puntos Pase Magic</th>
                <th>Código de Barras</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.saldo }}</td>
                <td>{{ usuario.saldo_regalo }}</td>
                <td>{{ usuario.codigo }}</td>
                <td>{{ usuario.puntos_pase_pkm }}</td>
                <td>{{ usuario.puntos_pase_yugioh }}</td>
                <td>{{ usuario.puntos_pase_magic }}</td>
                <td><button onclick="showBarcode('{{ usuario.id }}')">Ver Código de Barras</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_user' %}">Crear usuario nuevo</a><br>
    <a href="{% url 'manage_points' %}">Administrar Puntos</a><br>
    <a href="{% url 'dashboard' %}">Regresar al dashboard</a><br>

    <!-- Pop-up Modal -->
    <div id="barcodeModal">
        <div id="barcodeContent">
            <span id="closeBtn" onclick="closeBarcode()">&times;</span>
            <img id="barcodeImage" src="" alt="Código de Barras">
        </div>
    </div>

    <script>
        function showBarcode(userId) {
            var modal = document.getElementById("barcodeModal");
            var barcodeImage = document.getElementById("barcodeImage");
            barcodeImage.src = "{% url 'generate_barcode' 0 %}".replace(0, userId);
            modal.style.display = "flex";
        }

        function closeBarcode() {
            var modal = document.getElementById("barcodeModal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
{% endblock %}
